.filmes {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.filmes img {
	display: block;
	max-width: 100%;
    height: auto;
	margin-left: auto;
    margin-right: auto;
}

.offline-notification {
  visibility: hidden;
  background: #222;
  color: red;
  padding: 0.5em;
  text-align: center;	  
}	  

.offline {
  .offline-notification {
  visibility: visible;
 }
