.filmes {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.filmes img {
	display: block;
	max-width: 100%;
    height: auto;
	margin-left: auto;
    margin-right: auto;
}

.offline-notification {
  transition: transform 0.3s;
  transform: translateY(-100%)  translateX(-50%);
  position: fixed;
  left: 50%;
  background: #222;
  color: red;
  padding: 0.5em;
  text-align: center;	  
}	  

.offline {
  .offline-notification {
    transition: transform 0.3s;
    transform: translateY(0) translateX(-50%);
 }
